@model IEnumerable<BlogPost>

@if (Model.Any())
{
    <div class="recent-post same-sidebar sidebar-widget mb-40">
        <h3 class="sidebar-title mb-30">Recent Post</h3>
        <ul>
            @foreach (var item in Model)
            {
                <li class="post-thumb fix">
                    <div class="left-post-thumb f-left mr-20">
                        <a asp-action="details" asp-route-slug="@item.Slug">
                            <img class="img" src="~/uploads/images/@item.ImagePath" alt="@item.Title">
                        </a>
                    </div>
                    <div class="right-post-thumb fix">
                        <h4><a asp-action="details" asp-route-slug="@item.Slug">@item.Title</a></h4>
                        <span>@item.CreatedAt.ToString("MMM dd, yyyy")</span>
                    </div>
                </li>
            }
        </ul>
    </div>
}