<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <!-- Basic page needs ================================================== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="shortcut icon" href="~/cdn.shopify.com/s/files/1/0019/7181/4451/t/10/assets/favicona8b4.png?v=134056495275804780971632031654" type="image/png" />
    <!-- Title and description ================================================== -->
    <title>
        BigOn | @ViewBag.Title
    </title>
    <!-- Helpers ================================================== -->
    <!-- /snippets/social-meta-tags.liquid -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="BigOn Responsive Ecommerce Shopify Theme">
    <meta property="og:description" content="">
    <meta property="og:url" content="index.html">
    <meta property="og:site_name" content="BigOn Responsive Ecommerce Shopify Theme">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="BigOn Responsive Ecommerce Shopify Theme">
    <meta name="twitter:description" content="">
    <link rel="canonical" asp-controller="home" asp-action="index">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="theme-color" content="#747474">
    <!-- google fonts ================================================== -->
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,500,600" rel="stylesheet">
    <!-- CSS ================================================== -->
    <link href="~/cdn.shopify.com/s/files/1/0019/7181/4451/t/10/assets/timber.scss3cf9.css?v=125440000369223617311656093681" rel="stylesheet" type="text/css" media="all" />
    <link href="~/cdn.shopify.com/s/files/1/0019/7181/4451/t/10/assets/meanmenu.min2f12.css?v=158049474984117985281632031670" rel="stylesheet" type="text/css" media="all" />
    <link href="~/cdn.shopify.com/s/files/1/0019/7181/4451/t/10/assets/animate7416.css?v=170469424254788653381632031647" rel="stylesheet" type="text/css" media="all" />
    <link href="~/cdn.shopify.com/s/files/1/0019/7181/4451/t/10/assets/nivo-slider7f2c.css?v=131832013061232469351632031672" rel="stylesheet" type="text/css" media="all" />
    <link href="~/cdn.shopify.com/s/files/1/0019/7181/4451/t/10/assets/owl.carousel.minea0e.css?v=100847393044616809951632031673" rel="stylesheet" type="text/css" media="all" />
    <link href="~/cdn.shopify.com/s/files/1/0019/7181/4451/t/10/assets/slick06b4.css?v=98340474046176884051632031680" rel="stylesheet" type="text/css" media="all" />
    <link href="~/cdn.shopify.com/s/files/1/0019/7181/4451/t/10/assets/font-awesome.minfe0e.css?v=84510053569955488191632031654" rel="stylesheet" type="text/css" media="all" />
    <link href="~/cdn.shopify.com/s/files/1/0019/7181/4451/t/10/assets/bootstrap.min0397.css?v=152920830540006131331632031648" rel="stylesheet" type="text/css" media="all" />
    <link href="~/cdn.shopify.com/s/files/1/0019/7181/4451/t/10/assets/defaultb5ac.css?v=62476485006802894951632031650" rel="stylesheet" type="text/css" media="all" />
    <link href="~/cdn.shopify.com/s/files/1/0019/7181/4451/t/10/assets/style70c5.css?v=128604472815058613891632031681" rel="stylesheet" type="text/css" media="all" />
    <link href="~/cdn.shopify.com/s/files/1/0019/7181/4451/t/10/assets/responsivec651.css?v=62746946094098128581632031678" rel="stylesheet" type="text/css" media="all" />
    <link href="~/cdn.shopify.com/s/files/1/0019/7181/4451/t/10/assets/customc53a.css?v=49480689088454032641637495362" rel="stylesheet" type="text/css" media="all" />
    <link href="~/cdn.shopify.com/s/files/1/0019/7181/4451/t/10/assets/custom-responsive1515.css?v=45972842751872550531632031650" rel="stylesheet" type="text/css" media="all" />
    <link href="~/cdn.shopify.com/s/files/1/0019/7181/4451/t/10/assets/skin-theme8099.css?v=117120950232533358991632031700" rel="stylesheet" type="text/css" media="all" />
    <link href="~/cdn.shopify.com/s/files/1/0019/7181/4451/t/10/assets/theme-color35ff.css?v=182629768884326306281637495438" rel="stylesheet" type="text/css" media="all" />
    <link href="~/libs/toastr.js/toastr.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/assets/css/additional.css" rel="stylesheet" />
    <!-- Header hook for plugins ================================================== -->
    <script>window.performance && window.performance.mark && window.performance.mark('shopify.content_for_header.start');</script>
    <meta id="shopify-digital-wallet" name="shopify-digital-wallet" content="/1971814451/digital_wallets/dialog">
    <script id="shopify-features" type="application/json">{"accessToken":"17ffc9bed61b0086763b18229f80c527","betas":["rich-media-storefront-analytics"],"domain":"bigon-5.myshopify.com","predictiveSearch":true,"shopId":1971814451,"smart_payment_buttons_url":"https:\/\/cdn.shopify.com\/shopifycloud\/payment-sheet\/assets\/latest\/spb.en.js?v=2","dynamic_checkout_cart_url":"https:\/\/cdn.shopify.com\/shopifycloud\/payment-sheet\/assets\/latest\/dynamic-checkout-cart.en.js?v=2","locale":"en"}</script>
    <script>
        var Shopify = Shopify || {};
        Shopify.shop = "bigon-5.myshopify.com";
        Shopify.locale = "en";
        Shopify.currency = { "active": "USD", "rate": "1.0" };
        Shopify.country = "US";
        Shopify.theme = { "name": "H1 Bigon-v2-0-5 (Storefront Filtering OS-2.0)", "id": 120458870835, "theme_store_id": null, "role": "main" };
        Shopify.theme.handle = "null";
        Shopify.theme.style = { "id": null, "handle": null };
        Shopify.cdnHost = "cdn.shopify.com";
        Shopify.routes = Shopify.routes || {};
        Shopify.routes.root = "index.html";</script>
    <script type="module">!function (o) { (o.Shopify = o.Shopify || {}).modules = !0 }(window);</script>
    <script>!function (o) { function n() { var o = []; function n() { o.push(Array.prototype.slice.apply(arguments)) } return n.q = o, n } var t = o.Shopify = o.Shopify || {}; t.loadFeatures = n(), t.autoloadFeatures = n() }(window);</script>
    <script>
        (function () {
            function asyncLoad() {
                var urls = ["\/\/productreviews.shopifycdn.com\/embed\/loader.js?shop=bigon-5.myshopify.com"];
                for (var i = 0; i < urls.length; i++) {
                    var s = document.createElement('script');
                    s.type = 'text/javascript';
                    s.async = true;
                    s.src = urls[i];
                    var x = document.getElementsByTagName('script')[0];
                    x.parentNode.insertBefore(s, x);
                }
            };
            if (window.attachEvent) {
                window.attachEvent('onload', asyncLoad);
            } else {
                window.addEventListener('load', asyncLoad, false);
            }
        })();</script>
    <script id="__st">var __st = { "a": 1971814451, "offset": -14400, "reqid": "6e42a1a0-e68a-4771-bdbe-59fe2a32b580", "pageurl": "bigon-5.myshopify.com\/", "u": "6d8a766a712e", "p": "home" };</script>
    <script>window.ShopifyPaypalV4VisibilityTracking = true;</script>
    <script>!function (o) { o.addEventListener("DOMContentLoaded", function () { window.Shopify = window.Shopify || {}, window.Shopify.recaptchaV3 = window.Shopify.recaptchaV3 || { siteKey: "6LcCR2cUAAAAANS1Gpq_mDIJ2pQuJphsSQaUEuc9" }; var t = ['form[action*="/contact"] input[name="form_type"][value="contact"]', 'form[action*="/comments"] input[name="form_type"][value="new_comment"]', 'form[action*="/account"] input[name="form_type"][value="customer_login"]', 'form[action*="/account"] input[name="form_type"][value="recover_customer_password"]', 'form[action*="/account"] input[name="form_type"][value="create_customer"]', 'form[action*="/contact"] input[name="form_type"][value="customer"]'].join(","); function n(e) { e = e.target; null == e || null != (e = function e(t, n) { if (null == t.parentElement) return null; if ("FORM" != t.parentElement.tagName) return e(t.parentElement, n); for (var o = t.parentElement.action, r = 0; r < n.length; r++)if (-1 !== o.indexOf(n[r])) return t.parentElement; return null }(e, ["/contact", "/comments", "/account"])) && null != e.querySelector(t) && ((e = o.createElement("script")).setAttribute("src", "~/cdn.shopify.com/shopifycloud/storefront-recaptcha-v3/v0.6/index.js"), o.body.appendChild(e), o.removeEventListener("focus", n, !0), o.removeEventListener("change", n, !0), o.removeEventListener("click", n, !0)) } o.addEventListener("click", n, !0), o.addEventListener("change", n, !0), o.addEventListener("focus", n, !0) }) }(document);</script>
    <script integrity="sha256-qzgBevPPdZ2wrwu9HnUin2oYn1vx8ttCFpYwmYuWkCE=" data-source-attribution="shopify.loadfeatures" defer="defer" src="~/cdn.shopify.com/shopifycloud/shopify/assets/storefront/load_feature-ab38017af3cf759db0af0bbd1e75229f6a189f5bf1f2db42169630998b969021.js" crossorigin="anonymous"></script>
    <script integrity="sha256-h+g5mYiIAULyxidxudjy/2wpCz/3Rd1CbrDf4NudHa4=" data-source-attribution="shopify.dynamic-checkout" defer="defer" src="~/cdn.shopify.com/shopifycloud/shopify/assets/storefront/features-87e8399988880142f2c62771b9d8f2ff6c290b3ff745dd426eb0dfe0db9d1dae.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" media="screen" href="~/cdn.shopify.com/s/files/1/0019/7181/4451/t/10/compiled_assets/styles06fe.css?2622">
    <script id="sections-script" data-sections="slider-with-product,banner-area,tab-product,up-comeing-product,populer-category,latest-blog-testimonial,service-area,ranbom-product,newletter-area,header,footer" defer="defer" src="~/cdn.shopify.com/s/files/1/0019/7181/4451/t/10/compiled_assets/scripts06fe.js?2622"></script>
    <script>window.performance && window.performance.mark && window.performance.mark('shopify.content_for_header.end');</script>
    <!-- /snippets/oldIE-js.liquid -->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript"></script>
    <script src="//cdn.shopify.com/s/files/1/0019/7181/4451/t/10/assets/respond.min.js?v=52248677837542619231632031677" type="text/javascript"></script>
    <link href="//cdn.shopify.com/s/files/1/0019/7181/4451/t/10/assets/respond-proxy.html" id="respond-proxy" rel="respond-proxy" />
    <link href="//bigon-5.myshopify.com/search?q=addbd7d42e4f7cbf7ab0a443aa05e7cf" id="respond-redirect" rel="respond-redirect" />
    <script src="//bigon-5.myshopify.com/search?q=addbd7d42e4f7cbf7ab0a443aa05e7cf" type="text/javascript"></script>
    <![endif]-->
    <script src="../ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" type="text/javascript"></script>
    <script src="~/cdn.shopify.com/s/files/1/0019/7181/4451/t/10/assets/modernizr-2.8.3.min5c31.js?v=174727525422211915231632031671" type="text/javascript"></script>
    <script src="~/cdn.shopify.com/s/files/1/0019/7181/4451/t/10/assets/jquery-1.12.4.minb25c.js?v=143819514376552347241632031669" type="text/javascript"></script>
    <script src="~/cdn.shopify.com/s/files/1/0019/7181/4451/t/10/assets/jquery-migrate-v1.4.1d2bd.js?v=74754078088640826101632031669" type="text/javascript"></script>
    <script src="~/cdn.shopify.com/s/files/1/0019/7181/4451/t/10/assets/jquery.meanmenu.min7fb5.js?v=104498388394683117861632031667" type="text/javascript"></script>
    <script src="~/cdn.shopify.com/s/files/1/0019/7181/4451/t/10/assets/jquery.scrollUpf7b1.js?v=95159205425930492741632031669" type="text/javascript"></script>
    <script src="~/cdn.shopify.com/s/files/1/0019/7181/4451/t/10/assets/owl.carousel.minad75.js?v=75813715580695946121632031673" type="text/javascript"></script>
    <script src="~/cdn.shopify.com/s/files/1/0019/7181/4451/t/10/assets/slick.minf83b.js?v=71779134894361685811632031681" type="text/javascript"></script>
    <script src="~/cdn.shopify.com/s/files/1/0019/7181/4451/t/10/assets/wow.min4c29.js?v=115119078963534947431632031684" type="text/javascript"></script>
    <script src="~/cdn.shopify.com/s/files/1/0019/7181/4451/t/10/assets/jquery.countdown.min3ccb.js?v=183628871504181764921632031664" type="text/javascript"></script>
    <script src="~/cdn.shopify.com/s/files/1/0019/7181/4451/t/10/assets/jquery.nivo.slider0e12.js?v=155827412248921822651632031668" type="text/javascript"></script>
    <script src="~/cdn.shopify.com/s/files/1/0019/7181/4451/t/10/assets/bootstrap.mindb4a.js?v=73724390286584561281632031648" type="text/javascript"></script>
    <script src="~/cdn.shopify.com/s/files/1/0019/7181/4451/t/10/assets/plugins8d33.js?v=8618577496855924921632031676" type="text/javascript"></script>
    <script src="~/cdn.shopify.com/s/files/1/0019/7181/4451/t/10/assets/jquery.matchHeight7f13.js?v=2422420511068287131632031667" type="text/javascript"></script>
    <script src="~/cdn.shopify.com/s/files/1/0019/7181/4451/t/10/assets/instafeed.min6b32.js?v=113591108456926230921632031663" type="text/javascript"></script>
    <!-- Ajax Cart js -->
    <script src="~/cdn.shopify.com/shopifycloud/shopify/assets/themes_support/option_selection-9f517843f664ad329c689020fb1e45d03cac979f64b9eb1651ea32858b0ff452.js" type="text/javascript"></script>
    <script src="~/cdn.shopify.com/shopifycloud/shopify/assets/themes_support/api.jquery-e94e010e92e659b566dbc436fdfe5242764380e00398907a14955ba301a4749f.js" type="text/javascript"></script>
    <script src="~/cdn.shopify.com/s/files/1/0019/7181/4451/t/10/assets/cart.apic506.js?v=98676224842540030051632031648" type="text/javascript"></script>
    <script src="~/cdn.shopify.com/s/files/1/0019/7181/4451/t/10/assets/theme8723.js?v=182798940403600771341632031682" type="text/javascript"></script>
    <script async>
        window.money_format = "<span class=money>${{amount}} USD</span>";
    </script>
    <script src="~/cdn.shopify.com/shopifycloud/shopify/assets/themes_support/shopify_common-8ea6ac3faf357236a97f5de749df4da6e8436ca107bc3a4ee805cbf08bc47392.js" type="text/javascript"></script>
    <script src="https://kit.fontawesome.com/1154e1d6ee.js" crossorigin="anonymous"></script>
    <!-- "snippets/alireviews_core.liquid" was not rendered, the associated app was uninstalled -->
    <meta property="og:image" content="https://cdn.shopify.com/s/files/1/0019/7181/4451/files/logo.png?height=628&pad_color=fff&v=1523767584&width=1200" />
    <meta property="og:image:secure_url" content="https://cdn.shopify.com/s/files/1/0019/7181/4451/files/logo.png?height=628&pad_color=fff&v=1523767584&width=1200" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="628" />
    <link href="https://monorail-edge.shopifysvc.com/" rel="dns-prefetch">
    @await RenderSectionAsync("addcss",required:false)
</head>
<body id="bigon-responsive-ecommerce-shopify-theme" class="template-index">
    @if (TempData["Message"] is string message)
    {
        <h2>@message</h2>
    }
    <div id="shopify-section-header" class="shopify-section">
        <!-- Header Area Start -->
        <header class="home-1" id="section-header">
            <!-- Header Top Start -->
            <div class="header-top">
                <div class="container">
                    <!-- Header Top left Start -->
                    <div class="header-top-left f-left">
                        <ul class="header-list-menu">
                            <li class="common-currency-picker currency">
                                <a><span class="current-currency">USD</span><i class="fa fa-angle-down"></i></a>
                                <ul class="ht-dropdown">
                                    <li data-currency="ILS" class="currency__item"><a style="cursor: pointer">ILS - Israeli New Shekel</a></li>
                                    <li data-currency="USD" class="currency__item"><a style="cursor: pointer">&#036; USD</a></li>
                                    <li data-currency="EUR" class="currency__item"><a style="cursor: pointer">&#128; EUR</a></li>
                                    <li data-currency="GBP" class="currency__item"><a style="cursor: pointer">&#163; GBP</a></li>
                                    <li data-currency="INR" class="currency__item"><a style="cursor: pointer">&#x20B9; INR</a></li>
                                    <li data-currency="JPY" class="currency__item"><a style="cursor: pointer">&#165; JPY</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- Header-list-menu End -->
                    <!-- Header Top left End -->
                    <!-- Header Top Right Start -->
                    <div class="header-top-right f-right">
                        <ul class="header-list-menu right-menu">
                            <li><span><i class="fa fa-phone"></i> Support: 123 456 789 </span></li>
                            <li>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <a asp-controller="Account" asp-action="Settings" class="d-flex align-items-center">
                                        <i class="fa fa-cog"></i>Tənzimləmələr
                                    </a>
                                    <ul class="ht-dropdown ht-account">
                                        <li><a asp-controller="Account" asp-action="Profile">Hesabım</a></li>
                                        @if (User.HasClaim("admin.dashboard.index"))
                                        {
                                            <li>
                                                <a asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Admin</a>
                                            </li>
                                        }
                                        <li>
                                            <a asp-controller="shop" asp-action="wishlist">Bəyəndiklərim</a>
                                        </li>
                                        <li>
                                            <a asp-controller="Account" asp-action="Logout">Çıxış</a>
                                        </li>
                                    </ul>
                                }
                                else
                                {
                                    <a asp-controller="Account" asp-action="Signin" class="d-flex align-items-center">
                                        <i class="fas fa-sign-in-alt"></i>
                                        Daxil ol
                                    </a>
                                }
                            </li>
                        </ul>
                        <!-- Header-list-menu End -->
                    </div>
                    <!-- Header Top Right End -->
                </div>
                <!-- Container End -->
            </div>
            <!-- Header Top End -->
            <style>
                #section-header .header-top .header-list-menu > li > a {
                    color: #363f4d;
                }

                #section-header .header-top .header-list-menu > li:hover > a {
                    color: #4380db;
                }

                #section-header .header-top .header-list-menu li .ht-dropdown {
                    background: #ffffff;
                }

                #section-header .header-top .header-list-menu > li > ul.ht-dropdown > li > a {
                    color: #888888;
                }

                #section-header .header-top .header-list-menu > li > ul.ht-dropdown > li:hover a {
                    color: #4380db;
                }

                #section-header .header-top .header-list-menu > li > span {
                    color: #444444;
                }

                #section-header .header-top .header-list-menu > li i {
                    color: #4380db;
                }

                #section-header .header-top .header-list-menu.right-menu > li > a {
                    color: #363f4d;
                }

                #section-header .header-top .header-list-menu.right-menu li .ht-dropdown {
                    background: #ffffff;
                }

                #section-header .header-top .header-list-menu.right-menu > li > ul.ht-dropdown > li > a {
                    color: #888888;
                }

                #section-header .header-top .header-list-menu.right-menu > li > ul.ht-dropdown > li:hover a {
                    color: #4380db;
                }

                #section-header .header-top {
                    background: #f9f9f9;
                }

                #section-header .header-top {
                    border-bottom: 1px solid #ffffff;
                }

                #section-header .header-top {
                    padding-top: 0px;
                }

                #section-header .header-top {
                    padding-bottom: 0px;
                }

                @@media(min-width: 768px) and (max-width: 991px) {
                    #section-header .header-top {
                        padding-top: 0px;
                    }

                    #section-header .header-top {
                        padding-bottom: 0px;
                    }
                }

                @@media(max-width: 767px) {
                    #section-header .header-top {
                        padding-top: 0px;
                    }

                    #section-header .header-top {
                        padding-bottom: 0px;
                    }
                }
            </style>
            <!-- Header Middle Start -->
            <div class="header-middle header-sticky home-1">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- Logo Start -->
                            <div class="logo pull-left hidden-xs">
                                <a asp-controller="home" asp-action="index">
                                    <img src="~/cdn.shopify.com/s/files/1/0019/7181/4451/files/logo_300x8c93.png?v=1523767584" alt="BigOn Responsive Ecommerce Shopify Theme">
                                </a>
                            </div>
                            <!-- Logo End -->
                            <div class="col-xs-6 visible-xs full-col plr-0">
                                <!-- Logo Start -->
                                <div class="logo mt-12">
                                    <a asp-controller="home" asp-action="index">
                                        <img src="~/cdn.shopify.com/s/files/1/0019/7181/4451/files/logo_300x8c93.png?v=1523767584" alt="BigOn Responsive Ecommerce Shopify Theme">
                                    </a>
                                </div>
                                <!-- Logo End -->
                            </div>
                            <!-- Header Middle Menu Start -->
                            <div class="middle-menu hidden-xs hidden-sm pull-right">
                                <partial name="_Navbar" />
                                <script>
                                    jQuery('.middle-menu-list .megamenu-three-column').parent('ul').addClass('megamenu');
                                    jQuery('.middle-menu-list .megamenu-three-column').parent('ul').removeClass('home-dropdown');
                                </script>
                            </div>
                            <!-- Header Middle Menu End -->
                        </div>
                        <!-- Cartt Box Start -->
                        <div class="col-xs-6 full-col fl-r visible-xs">
                            <div class="cart-box text-right">
                                <ul>
                                    <li>
                                        <a href="account/login.html"><i class="fa fa-heart-o"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-shopping-basket"></i><span class="cart-counter bigcounter">0</span></a>
                                        <ul class="ht-dropdown main-cart-box">
                                            <li style="display:none;" class="cart-dropdown cart-empty-title">
                                                <h2>Your cart is currently empty.</h2>
                                            </li>
                                            <li class="cart-dropdown mini-cart">
                                                <ul>
                                                </ul>
                                                <!-- Cart Footer Inner Start -->
                                                <div class="cart-footer fix">
                                                    <h5>Total :<span class="f-right shopping-cart__total"><span class=money>$0.00</span></span></h5>
                                                    <div class="cart-actions">
                                                        <a class="cart" href="cart.html">Cart</a>
                                                        <a class="checkout" href="cart.html">Checkout</a>
                                                    </div>
                                                </div>
                                                <!-- Cart Footer Inner End -->
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="search-bar-xs visible-xs">
                                        <a href="#"><i class="fa fa-search"></i></a>
                                        <div class="ht-dropdown search-box-view">
                                            <form action="https://bigon-5.myshopify.com/search" method="get" role="search" class="header-search">
                                                <input type="search" class="email" name="q" value="" placeholder="Search our store" class="input-group-field" aria-label="Search our store">
                                                <button type="submit" class="submit"></button>
                                            </form>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Cartt Box End -->
                        <!-- Mobile Menu  Start -->
                        <div class="col-xs-12 visible-xs visible-sm">
                            <div class="mobile-menu">
                                <nav>
                                    <ul>
                                        <li>
                                            <a href="collections/all.html">all Categories</a>
                                            <ul>
                                                <li class="angle">
                                                    <a href="collections/all.html">Computer</a>
                                                    <ul class="category-submenu">
                                                        <li>
                                                            <a href="collections/all.html" class="title">laptops</a>
                                                            <ul>
                                                                <li><a href="collections/all.html">Best Laptops Price</a></li>
                                                                <li><a href="collections/all.html">New Laptops Price</a></li>
                                                                <li><a href="collections/all.html">Middle Laptops Price</a></li>
                                                                <li><a href="collections/all.html">Gaming Laptops Price</a></li>
                                                            </ul>
                                                        </li>
                                                        <li>
                                                            <a href="collections/all.html" class="title">monitors</a>
                                                            <ul>
                                                                <li><a href="collections/all.html">Hd monitors</a></li>
                                                                <li><a href="collections/all.html">new monitors</a></li>
                                                                <li><a href="collections/all.html">dual monitors</a></li>
                                                                <li><a href="collections/all.html">qhd monitors</a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="menu-img"><a href="collections/new-products.html" class="title"><img src="~/cdn.shopify.com/s/files/1/0019/7181/4451/collections/8_larged448.jpg?v=1523766507" alt="collection Image"></a></li>
                                                    </ul>
                                                </li>
                                                <li class="angle">
                                                    <a href="collections/all.html">Kitchen</a>
                                                    <ul class="category-submenu">
                                                        <li>
                                                            <a href="collections/all.html" class="title">Digital Cameras</a>
                                                            <ul>
                                                                <li><a href="collections/all.html">camera one</a></li>
                                                                <li><a href="collections/all.html">camrea two</a></li>
                                                                <li><a href="collections/all.html">camera theree</a></li>
                                                                <li><a href="collections/all.html">camera four</a></li>
                                                            </ul>
                                                        </li>
                                                        <li>
                                                            <a href="collections/all.html" class="title">Camcorders</a>
                                                            <ul>
                                                                <li><a href="collections/all.html">Camcorders new</a></li>
                                                                <li><a href="collections/all.html">Camcorders old</a></li>
                                                                <li><a href="collections/all.html">Camcorders hero</a></li>
                                                                <li><a href="collections/all.html">Camcorders tiny</a></li>
                                                            </ul>
                                                        </li>
                                                        <li>
                                                            <a href="collections/all.html" class="title">Photo Accessories</a>
                                                            <ul>
                                                                <li><a href="collections/all.html">Cords and Cables</a></li>
                                                                <li><a href="collections/all.html">Microphones</a></li>
                                                                <li><a href="collections/all.html">gps accessories</a></li>
                                                                <li><a href="collections/all.html">Wireless Transmitters</a></li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="angle">
                                                    <a href="collections/all.html">Smart Phone</a>
                                                    <ul class="category-submenu">
                                                        <li>
                                                            <a href="collections/all.html" class="title">new Phones</a>
                                                            <ul>
                                                                <li><a href="collections/all.html">phone one</a></li>
                                                                <li><a href="collections/all.html">phone two</a></li>
                                                                <li><a href="collections/all.html">phone three</a></li>
                                                                <li><a href="collections/all.html">phone four</a></li>
                                                            </ul>
                                                        </li>
                                                        <li>
                                                            <a href="collections/all.html" class="title">motion Phones</a>
                                                            <ul>
                                                                <li><a href="collections/all.html">motion phone x</a></li>
                                                                <li><a href="collections/all.html">motion phone two</a></li>
                                                                <li><a href="collections/all.html">motion phone new</a></li>
                                                                <li><a href="collections/all.html">motion g5 </a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="menu-img"><a href="collections/digital-cameras.html" class="title"><img src="~/cdn.shopify.com/s/files/1/0019/7181/4451/collections/12_large8245.jpg?v=1523774279" alt="collection Image"></a></li>
                                                    </ul>
                                                </li>
                                                <li class="angle">
                                                    <a href="collections/all.html">Fashion</a>
                                                    <ul class="category-submenu">
                                                        <li>
                                                            <a href="collections/all.html" class="title">Towers Only</a>
                                                            <ul>
                                                                <li><a href="collections/all.html">On Sale</a></li>
                                                                <li><a href="collections/all.html">Free Shipping Eligible</a></li>
                                                                <li><a href="collections/all.html">Clearance</a></li>
                                                                <li><a href="collections/all.html">3D-Capable</a></li>
                                                            </ul>
                                                        </li>
                                                        <li>
                                                            <a href="collections/all.html" class="title">Gaming Desktops</a>
                                                            <ul>
                                                                <li><a href="collections/all.html">desktop rumer</a></li>
                                                                <li><a href="collections/all.html">desktop razar</a></li>
                                                                <li><a href="collections/all.html">Gamer Ultra Desktop </a></li>
                                                                <li><a href="collections/all.html">Alpha Desktop</a></li>
                                                            </ul>
                                                        </li>
                                                        <li>
                                                            <a href="collections/all.html" class="title">modern Phones</a>
                                                            <ul>
                                                                <li><a href="collections/all.html">tube phone one</a></li>
                                                                <li><a href="collections/all.html">tube phone two</a></li>
                                                                <li><a href="collections/all.html">new phone (16)</a></li>
                                                                <li><a href="collections/all.html">tube phone three</a></li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class=""><a href="collections/all.html">Tablet</a></li>
                                                <li class=""><a href="collections/all.html">Electtronic</a></li>
                                                <li class=""><a href="collections/all.html">Books</a></li>
                                                <li class=""><a href="collections/all.html">Sports</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a asp-controller="home" asp-action="index">Home</a>
                                            <!-- Home Version Dropdown Start -->
                                            <ul>
                                                <li><a href="indexb21d.html?preview_theme_id=120458870835" class="title">Home Version 1</a></li>
                                                <li><a href="index0e94.html?preview_theme_id=120458903603" class="title">Home Version 2</a></li>
                                                <li><a href="indexac3b.html?preview_theme_id=120458969139" class="title">Home Version 3</a></li>
                                                <li><a href="indexa51e.html?preview_theme_id=120459001907" class="title">Home Version 4</a></li>
                                                <li><a href="indexfc63.html?preview_theme_id=120459034675" class="title">Home Version 5</a></li>
                                                <li><a href="index070f.html?preview_theme_id=120459067443" class="title">Home Version 6</a></li>
                                                <li><a href="index87da.html?preview_theme_id=120459100211" class="title">Home Version  RTL</a></li>
                                            </ul>
                                            <!-- Home Version Dropdown End -->
                                        </li>
                                        <li><a asp-controller="Home" asp-action="about">about us</a></li>
                                        <li><a asp-controller="Home" asp-action="Contact">contact us</a></li>
                                        <li>
                                            <a asp-controller="Blogs" asp-action="index">blog</a>
                                            <!-- Home Version Dropdown Start -->
                                            <ul>
                                                <li><a href="blogs/news/temporibus-autem-quibusdam-3.html" class="title">blog details</a></li>
                                            </ul>
                                            <!-- Home Version Dropdown End -->
                                        </li>
                                        <li>
                                            <a href="collections/all.html">shop</a>
                                            <!-- Home Version Dropdown Start -->
                                            <ul>
                                                <li>
                                                    <a href="collections/all.html">laptops</a>
                                                    <ul>
                                                        <li><a href="collections/all.html">Best Laptops Price</a></li>
                                                        <li><a href="collections/all.html">New Laptops Price</a></li>
                                                        <li><a href="collections/all.html">Middle Laptops Price</a></li>
                                                        <li><a href="collections/all.html">Gaming Laptops Price</a></li>
                                                        <li><a href="collections/all.html">camera one</a></li>
                                                        <li><a href="collections/all.html">camrea two</a></li>
                                                        <li><a href="collections/all.html">camera theree</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="collections/all.html">monitors</a>
                                                    <ul>
                                                        <li><a href="collections/all.html">Hd monitors</a></li>
                                                        <li><a href="collections/all.html">new monitors</a></li>
                                                        <li><a href="collections/all.html">dual monitors</a></li>
                                                        <li><a href="collections/all.html">qhd monitors</a></li>
                                                        <li><a href="collections/all.html">motion phone x</a></li>
                                                        <li><a href="collections/all.html">motion phone two</a></li>
                                                        <li><a href="collections/all.html">motion phone new</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="collections/laptops.html"><img src="~/cdn.shopify.com/s/files/1/0019/7181/4451/collections/14_large5bab.jpg?v=1523774285"></a>
                                                </li>
                                            </ul>
                                            <!-- Home Version Dropdown End -->
                                        </li>
                                        <li>
                                            <a href="products/aliquam-consequat-mattis.html">Products</a>
                                            <!-- Home Version Dropdown Start -->
                                            <ul>
                                                <li><a href="products/cras-neque-metus.html" class="title">Simple Product</a></li>
                                                <li><a href="products/accusantium-doloremque.html" class="title">Variable Product</a></li>
                                                <li><a href="products/affiliate-link-product.html" class="title">Affiliate Link product </a></li>
                                                <li><a href="products/preorder-product.html" class="title">Product Preorder</a></li>
                                            </ul>
                                            <!-- Home Version Dropdown End -->
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <!-- Mobile Menu  End -->
                    </div>
                    <!-- Row End -->
                </div>
                <!-- Container End -->
            </div>
            <!-- Header Middle End -->
            <style>
                #section-header .header-middle .middle-menu-list > li > a {
                    color: #363f4d;
                }

                #section-header .header-middle .middle-menu-list > li:hover a {
                    color: #4380db;
                }

                #section-header .header-middle .middle-menu-list > li .ht-dropdown {
                    background: #ffffff;
                }

                #section-header .header-middle .middle-menu-list > li > ul.ht-dropdown > li > a {
                    color: #888888;
                }

                #section-header .header-middle .middle-menu-list > li > ul.ht-dropdown > li:hover > a {
                    color: #4380db;
                }

                #section-header .header-middle .middle-menu-list > li .ht-dropdown.megamenu {
                    background: #ffffff;
                }

                #section-header .header-middle .megamenu li.megamenu-three-column > a {
                    border-bottom: 2px solid #f1f1f1;
                    color: #444444 !important;
                }

                    #section-header .header-middle .megamenu li.megamenu-three-column > a:hover {
                        color: #4380db !important;
                    }

                #section-header .header-middle .megamenu li.megamenu-three-column ul li ul li a {
                    color: #444444;
                }

                    #section-header .header-middle .megamenu li.megamenu-three-column ul li ul li a:hover {
                        color: #4380db;
                    }

                #section-header .header-middle {
                    background: #ffffff;
                }

                #section-header .header-middle {
                    padding-top: 0px;
                }

                #section-header .header-middle {
                    padding-bottom: 0px;
                }

                @@media(min-width: 768px) and (max-width: 991px) {
                    #section-header .header-middle {
                        padding-top: 0px;
                    }

                    #section-header .header-middle {
                        padding-bottom: 0px;
                    }
                }

                @@media(max-width: 767px) {
                    #section-header .header-middle {
                        padding-top: 0px;
                    }

                    #section-header .header-middle {
                        padding-bottom: 0px;
                    }
                }
            </style>
            <!-- Header Bottom Start -->
            <div class="header-bottom hidden-xs">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-6 visible-xs full-col">
                            <!-- Logo Start -->
                            <div class="logo mt-10">
                                <a asp-controller="home" asp-action="index">
                                    <img src="~/cdn.shopify.com/s/files/1/0019/7181/4451/files/logo_300x8c93.png?v=1523767584" alt="BigOn Responsive Ecommerce Shopify Theme">
                                </a>
                            </div>
                            <!-- Logo End -->
                        </div>
                        <!-- Primary Vertical-Menu Start -->
                        <div class="col-lg-3 col-md-3 col-sm-4 hidden-xs hidden-sm">
                            @await Component.InvokeAsync("Categories")
                        </div>
                        <!-- Primary Vertical-Menu End -->
                        <!-- Search Box Start -->
                        <div class="col-lg-6 col-md-6 col-sm-6 hidden-xs">
                            <div class="search-box-view">
                                <form action="https://bigon-5.myshopify.com/search" method="get" role="search" class="header-search">
                                    <input type="search" class="email" name="q" value="" placeholder="Search our store" class="input-group-field" aria-label="Search our store">
                                    <button type="submit" class="submit"></button>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 full-col fl-r">
                            <div class="cart-box text-right">
                                <ul>
                                    <li>
                                        <a asp-controller="shop" asp-action="wishlist">
                                            <i class="fa fa-heart-o"></i>
                                        </a>
                                    </li>
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <li>
                                            @await Component.InvokeAsync("BasketInfo")
                                        </li>
                                    }
                                    <li class="search-bar-xs visible-xs">
                                        <a href="#"><i class="fa fa-search"></i></a>
                                        <div class="ht-dropdown search-box-view">
                                            <form action="https://bigon-5.myshopify.com/search" method="get" role="search" class="header-search">
                                                <input type="search" class="email" name="q" value="" placeholder="Search our store" class="input-group-field" aria-label="Search our store">
                                                <button type="submit" class="submit"></button>
                                            </form>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <style>
                #section-header .header-bottom .vertical-menu > span {
                    background: #4380db none repeat scroll 0 0;
                    color: #ffffff;
                }

                #section-header .header-bottom .vertical-menu-list {
                    background: #ffffff none repeat scroll 0 0;
                    border: 2px solid #4380db;
                }

                    #section-header .header-bottom .vertical-menu-list > li > a {
                        border-bottom: 1px solid #d7d7d7;
                        color: #666666;
                    }

                    #section-header .header-bottom .vertical-menu-list > li:hover > a {
                        color: #4380db;
                    }

                    #section-header .header-bottom .vertical-menu-list .ht-dropdown:before {
                        background-color: #ffffff;
                        border-color: #f1f1f1 transparent transparent #f1f1f1;
                    }

                    #section-header .header-bottom .vertical-menu-list > li ul.megamenu {
                        background: #ffffff none repeat scroll 0 0;
                        border: 1px solid #e5e5e3;
                    }

                #section-header .header-bottom .category-menu.megamenu li.megamenu-three-column > a {
                    border-bottom: 2px solid #f1f1f1;
                    color: #444444 !important;
                }

                    #section-header .header-bottom .category-menu.megamenu li.megamenu-three-column > a:hover {
                        color: #4380db !important;
                    }

                #section-header .header-bottom .category-menu .megamenu-three-column ul li a {
                    color: #444444;
                }

                    #section-header .header-bottom .category-menu .megamenu-three-column ul li a:hover {
                        color: #4380db;
                    }

                #section-header .header-bottom .search-box-view .email {
                    background: #ffffff none repeat scroll 0 0;
                    color: #888888;
                }

                #section-header .header-bottom .search-box-view .submit {
                    background: #4380db none repeat scroll 0 0;
                    color: #ffffff;
                }

                    #section-header .header-bottom .search-box-view .submit:hover {
                        background: #ea3a3c;
                        color: #ffffff;
                    }

                #section-header .header-bottom .cart-box > ul > li > a {
                    color: #8d98aa;
                }

                #section-header .header-bottom .cart-box > ul > li:hover > a {
                    color: #4380db;
                }

                #section-header .header-bottom .cart-box ul li > a > span {
                    background: #ea3a3c none repeat scroll 0 0;
                    color: #ffffff;
                }

                #section-header .header-bottom .cart-actions a {
                    background: #ea3a3c;
                    color: #ffffff;
                }

                    #section-header .header-bottom .cart-actions a:hover {
                        background: #4380db;
                        color: #ffffff;
                    }

                #section-header .header-bottom {
                    background: #363f4d;
                }

                #section-header .header-bottom {
                    padding-top: 10px;
                }

                #section-header .header-bottom {
                    padding-bottom: 10px;
                }

                @@media(min-width: 768px) and (max-width: 991px) {
                    #section-header .header-bottom {
                        padding-top: 10px;
                    }

                    #section-header .header-bottom {
                        padding-bottom: 10px;
                    }
                }

                @@media(max-width: 767px) {
                    #section-header .header-bottom {
                        padding-top: 10px;
                    }

                    #section-header .header-bottom {
                        padding-bottom: 10px;
                    }
                }
            </style>
        </header>
        <!-- Header Area End -->
        <style data-shopify>
            #section-header {
            }

            @@media(min-width: 768px) and (max-width: 991px) {
                #section-header {
                }
            }

            @@media(max-width: 767px) {
                #section-header {
                }
            }</style><style>
                         .theme-logo img {
                             max-width: 300px;
                         }
        </style>
        <script>
            /*----------------------------
              16. Sticky-Menu Activation
              ------------------------------ */
            $(window).scroll(function () {
                if ($(this).scrollTop() > 150) {
                    $('.header-sticky').addClass("sticky");
                } else {
                    $('.header-sticky').removeClass("sticky");
                }
            });
        </script>
    </div>
    @RenderSection("breadcrumbs",required:false)
    <main role="main">
        @RenderBody()
    </main>
    <div id="shopify-section-footer" class="shopify-section">
        <footer id="section-footer">
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-xs-12 item" id="block-1522816835748">
                            <div class="single-footer">
                                <h3>Contacts us</h3>
                                <div class="footer-content">
                                    <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</p>
                                    <span>Payment methods:</span>
                                    <p><img class="img" src="~/cdn.shopify.com/s/files/1/0019/7181/4451/files/1_d9ac6232-387a-45ad-9049-b9a6f0ec2b2a_largeba7b.png?v=1523771570" alt="payment-image"></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6 col-xs-6 footer-full item" id="block-1522817056174">
                            <div class="single-footer">
                                <h3 class="footer-title">Information</h3>
                                <div class="footer-content">
                                    <ul class="footer-list">
                                        <li><a asp-controller="Home" asp-action="Contact">Site Map</a></li>
                                        <li><a href="pages/shipping-policy.html">Specials</a></li>
                                        <li><a href="#">Jobs</a></li>
                                        <li><a href="pages/shipping-policy.html">Delivery Information</a></li>
                                        <li><a href="pages/shipping-policy.html">Privacy Policy</a></li>
                                        <li><a href="pages/shipping-policy.html">Order History</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6 col-xs-6 footer-full item" id="block-1522817067743">
                            <div class="single-footer">
                                <h3 class="footer-title">My Account</h3>
                                <div class="footer-content">
                                    <ul class="footer-list">
                                        <li><a href="account/login4236.html">My account</a></li>
                                        <li><a href="cart.html">Checkout</a></li>
                                        <li><a href="account/login4236.html">Login</a></li>
                                        <li><a href="#">Order status</a></li>
                                        <li><a asp-controller="Home" asp-action="Contact">Site Map</a></li>
                                        <li><a href="#">address</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6 col-xs-6 footer-full item" id="block-1522817075559">
                            <div class="single-footer">
                                <h3 class="footer-title">customer service</h3>
                                <div class="footer-content">
                                    <ul class="footer-list">
                                        <li><a href="account/login4236.html">My account</a></li>
                                        <li><a href="#">New</a></li>
                                        <li><a href="#">Gift Cards</a></li>
                                        <li><a href="pages/shipping-policy.html">Return Policy</a></li>
                                        <li><a href="pages/shipping-policy.html">Your Orders</a></li>
                                        <li><a href="#">Subway</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6 col-xs-6 footer-full item" id="block-1522817084673">
                            <div class="single-footer">
                                <h3 class="footer-title">Let Us Help You</h3>
                                <div class="footer-content">
                                    <ul class="footer-list">
                                        <li><a href="account/login4236.html">Your Account</a></li>
                                        <li><a href="pages/shipping-policy.html">Your Orders</a></li>
                                        <li><a href="pages/shipping-policy.html">Shipping</a></li>
                                        <li><a href="#">Amazon Prime</a></li>
                                        <li><a href="#">Replacements</a></li>
                                        <li><a href="#">Manage </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <style>
                #block-1522816835748 .single-footer h3 {
                    color: #ffffff;
                }

                #block-1522816835748 .footer-content p {
                    color: #ffffff;
                }

                #block-1522816835748 .footer-content span {
                    color: #ffffff;
                }

                #block-1522817056174 .single-footer h3 {
                    color: #ffffff;
                }

                #block-1522817056174 .footer-content ul li a {
                    color: #ffffff;
                }

                    #block-1522817056174 .footer-content ul li a:hover {
                        color: #4380db;
                    }

                #block-1522817067743 .single-footer h3 {
                    color: #ffffff;
                }

                #block-1522817067743 .footer-content ul li a {
                    color: #ffffff;
                }

                    #block-1522817067743 .footer-content ul li a:hover {
                        color: #4380db;
                    }

                #block-1522817075559 .single-footer h3 {
                    color: #ffffff;
                }

                #block-1522817075559 .footer-content ul li a {
                    color: #ffffff;
                }

                    #block-1522817075559 .footer-content ul li a:hover {
                        color: #4380db;
                    }

                #block-1522817084673 .single-footer h3 {
                    color: #ffffff;
                }

                #block-1522817084673 .footer-content ul li a {
                    color: #ffffff;
                }

                    #block-1522817084673 .footer-content ul li a:hover {
                        color: #4380db;
                    }

                #section-footer .footer-top {
                    background: #232f3e;
                }

                #section-footer .footer-top {
                    padding-top: 75px;
                }

                #section-footer .footer-top {
                    padding-bottom: 75px;
                }

                @@media(min-width: 768px) and (max-width: 991px) {
                    #section-footer .footer-top {
                        padding-top: 75px;
                    }

                    #section-footer .footer-top {
                        padding-bottom: 75px;
                    }
                }

                @@media(max-width: 767px) {
                    #section-footer .footer-top {
                        padding-top: 75px;
                    }

                    #section-footer .footer-top {
                        padding-bottom: 75px;
                    }
                }
            </style>
            <!-- Footer Middle Start -->
            <div class="footer-middle">
                <div class="container">
                    <div class="footer-middle-content">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- Footer Link Start -->
                                <div class="footer-link">
                                    <ul class="footer-link-list">
                                        <li id="block-1566812365268">
                                            <span class="title">Computer</span>
                                            <a href="collections/all.html">Computer</a> /
                                            <a href="collections/all.html">Television & Video</a> /
                                            <a href="collections/all.html">Tablet & PC</a> /
                                            <a href="collections/all.html"> Computers Accessories</a> /
                                            <a href="collections/all.html">tablet-1</a> /
                                            <a href="collections/all.html">tablet-2</a> /
                                            <a href="collections/all.html">tablet-3</a> /
                                            <a href="collections/all.html">tablet-4</a>
                                        </li>
                                        <li id="block-1566812375491">
                                            <span class="title">Desktop</span>
                                            <a href="collections/all.html">Desktops-1</a> /
                                            <a href="collections/all.html">Desktops-2</a> /
                                            <a href="collections/all.html">Desktops-3</a> /
                                            <a href="collections/all.html">Desktops-4</a> /
                                            <a href="collections/all.html">Desktops-5</a> /
                                            <a href="collections/all.html">Desktops-6</a> /
                                            <a href="collections/all.html">Desktops-7</a>
                                        </li>
                                        <li id="block-1566812391364">
                                            <span class="title">Camera</span>
                                            <a href="collections/all.html">Camera-1</a> /
                                            <a href="collections/all.html">Camera-2</a> /
                                            <a href="collections/all.html">Camera-3</a> /
                                            <a href="collections/all.html">Camera-4</a> /
                                            <a href="collections/all.html">Camera-5</a> /
                                            <a href="collections/all.html">Camera-6</a> /
                                            <a href="collections/all.html">Camera-6</a>
                                        </li>
                                        <li id="block-1566812395178">
                                            <span class="title">Smartphone</span>
                                            <a href="collections/all.html">Desktops-1</a> /
                                            <a href="collections/all.html">Desktops-2</a> /
                                            <a href="collections/all.html">Desktops-3</a> /
                                            <a href="collections/all.html">Desktops-4</a> /
                                            <a href="collections/all.html">Desktops-5</a> /
                                            <a href="collections/all.html">Desktops-6</a> /
                                            <a href="collections/all.html">Desktops-7</a>
                                        </li>
                                        <li id="block-1566812399612">
                                            <span class="title">Cell phone</span>
                                            <a href="collections/all.html">Camera-1</a> /
                                            <a href="collections/all.html">Camera-2</a> /
                                            <a href="collections/all.html">Camera-3</a> /
                                            <a href="collections/all.html">Camera-4</a> /
                                            <a href="collections/all.html">Camera-5</a> /
                                            <a href="collections/all.html">Camera-6</a> /
                                            <a href="collections/all.html">Camera-6</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <style>
                #section-footer .footer-middle-content {
                    border-top: 1px solid #2d3846;
                    border-bottom: 1px solid #2d3846;
                }

                #block-1566812365268 span.title {
                    background: #37475a none repeat scroll 0 0;
                    color: #ffffff;
                }

                #block-1566812365268 a {
                    color: #98a3b3;
                }

                    #block-1566812365268 a:hover {
                        color: #ffffff;
                    }

                #block-1566812375491 span.title {
                    background: #37475a none repeat scroll 0 0;
                    color: #ffffff;
                }

                #block-1566812375491 a {
                    color: #98a3b3;
                }

                    #block-1566812375491 a:hover {
                        color: #ffffff;
                    }

                #block-1566812391364 span.title {
                    background: #37475a none repeat scroll 0 0;
                    color: #ffffff;
                }

                #block-1566812391364 a {
                    color: #98a3b3;
                }

                    #block-1566812391364 a:hover {
                        color: #ffffff;
                    }

                #block-1566812395178 span.title {
                    background: #37475a none repeat scroll 0 0;
                    color: #ffffff;
                }

                #block-1566812395178 a {
                    color: #98a3b3;
                }

                    #block-1566812395178 a:hover {
                        color: #ffffff;
                    }

                #block-1566812399612 span.title {
                    background: #37475a none repeat scroll 0 0;
                    color: #ffffff;
                }

                #block-1566812399612 a {
                    color: #98a3b3;
                }

                    #block-1566812399612 a:hover {
                        color: #ffffff;
                    }

                #section-footer .footer-middle-content, #section-footer .footer-middle {
                    background: #232f3e;
                }

                #section-footer .footer-middle-content {
                    padding-top: 40px;
                }

                #section-footer .footer-middle-content {
                    padding-bottom: 40px;
                }

                @@media(min-width: 768px) and (max-width: 991px) {
                    #section-footer .footer-middle-content {
                        padding-top: 40px;
                    }

                    #section-footer .footer-middle-content {
                        padding-bottom: 40px;
                    }
                }

                @@media(max-width: 767px) {
                    #section-footer .footer-middle-content {
                        padding-top: 40px;
                    }

                    #section-footer .footer-middle-content {
                        padding-bottom: 40px;
                    }
                }
            </style>
            <div class="footer-bottom">
                <div class="container">
                    <div class="footer-bottom-content row">
                        <div class=" col-md-6 col-sm-6  copy-right">
                            <p class=" text-left">Copyright © 2021 <a href="https://hasthemes.com/">HasThemes</a> | Built with <a href="#">BigOn</a> by <a href="https://hasthemes.com/">HasThemes</a>.</p>
                        </div>
                        <div class=" col-md-6 col-sm-6 ">
                            <div class="footer-social-content text-right">
                                <ul class="social-content-list">
                                    <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <style>
                #section-footer .footer-bottom p {
                    color: #ffffff;
                }

                    #section-footer .footer-bottom p a {
                        color: #ffffff;
                    }

                #section-footer .footer-bottom-content p a:hover {
                    color: #4380db;
                }

                #section-footer .footer-social-content li a {
                    background: #37475a none repeat scroll 0 0;
                    color: #dddddd;
                }

                    #section-footer .footer-social-content li a:hover {
                        background: #4380db;
                        color: #ffffff;
                    }

                #section-footer .footer-bottom {
                    background: #232f3e;
                }

                #section-footer .footer-bottom {
                    padding-top: 40px;
                }

                #section-footer .footer-bottom {
                    padding-bottom: 40px;
                }

                @@media(min-width: 768px) and (max-width: 991px) {
                    #section-footer .footer-bottom {
                        padding-top: 40px;
                    }

                    #section-footer .footer-bottom {
                        padding-bottom: 40px;
                    }
                }

                @@media(max-width: 767px) {
                    #section-footer .footer-bottom {
                        padding-top: 40px;
                    }

                    #section-footer .footer-bottom {
                        padding-bottom: 40px;
                    }
                }
            </style>
        </footer>
        <style data-shopify>
            #section-footer {
                background: #232f3e no-repeat scroll center center / cover;
            }

            @@media(min-width: 768px) and (max-width: 991px) {
                #section-footer {
                }
            }

            @@media(max-width: 767px) {
                #section-footer {
                }
            }</style>
    </div>
    <div id="shopify-section-recommended" class="shopify-section"></div>

    <script>
        /* Hret disable */
        $('.side-show a').removeAttr('href');
        /*-------------------------
        Create an account toggle function
        --------------------------*/
        $('.side-show').on('click', function () {
            $('.side-hide').slideToggle(300);
        });
        /* Show hide Option */
        $(".vertical-menu > nav > ul > li:gt(5)").addClass("side-hide");
        if ($('.side-show').hasClass("side-hide")) {
            $('.side-show').removeClass('side-hide');
        }
        $('.side-show').on('click', function () {
            $(this).toggleClass('show-hide');
        });
    </script>
    <script src="~/cdn.shopify.com/s/files/1/0019/7181/4451/t/10/assets/fastclick.mincf7d.js?v=29723458539410922371632031653" type="text/javascript"></script>
    <script src="~/cdn.shopify.com/s/files/1/0019/7181/4451/t/10/assets/timbere958.js?v=167590606171638011851637495069" type="text/javascript"></script>
    <script>
    </script>
    <script id="dsq-count-scr" src="../your-site-name-1.disqus.com/count.js" async></script>
    <!-- modalAddToCart -->
    <div class="modal fade ajax-popup" id="modalAddToCart" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog white-modal modal-md">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="modal-content-text">
                        <div class="popup-image">
                            <img class="popupimage" src="#">
                        </div>
                        <div class="popup-content">
                            <h6 class="productmsg"></h6>
                            <p class="success-message"><i class="fa fa-check-circle"></i>Added to cart successfully!</p>
                            <div class="modal-button">
                                <a href="cart.html" class="theme-default-button">View Cart</a>
                                <a href="cart.html" class="theme-default-button">Checkout</a>
                            </div>
                        </div>
                    </div>
                    <div class="modal-close">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times-circle"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- modalAddToCart -->
    <!-- modalAddToCart Error -->
    <div class="modal fade ajax-popup error-ajax-popup" id="modalAddToCartError" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog white-modal modal-md">
            <div class="modal-content ">
                <div class="modal-body">
                    <div class="modal-content-text">
                        <p class="error_message"></p>
                    </div>
                    <div class="modal-close">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times-circle"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "../connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    <script>
        $(function () {
            // Current Ajax request.
            var currentAjaxRequest = null;
            // Grabbing all search forms on the page, and adding a .search-results list to each.
            var searchForms = $('form[action="/search"]').css('position', 'relative').each(function () {
                // Grabbing text input.
                var input = $(this).find('input[name="q"]');
                // Adding a list for showing search results.
                var offSet = input.position().top + input.innerHeight();
                $('<ul class="search-results home-two"></ul>').css({ 'position': 'absolute', 'left': '0px', 'top': offSet }).appendTo($(this)).hide();
                // Listening to keyup and change on the text field within these search forms.
                input.attr('autocomplete', 'off').bind('keyup change', function () {
                    // What's the search term?
                    var term = $(this).val();
                    // What's the search form?
                    var form = $(this).closest('form');
                    // What's the search URL?
                    var searchURL = '/search?type=product&q=' + term;
                    // What's the search results list?
                    var resultsList = form.find('.search-results');
                    // If that's a new term and it contains at least 3 characters.
                    if (term.length > 3 && term != $(this).attr('data-old-term')) {
                        // Saving old query.
                        $(this).attr('data-old-term', term);
                        // Killing any Ajax request that's currently being processed.
                        if (currentAjaxRequest != null) currentAjaxRequest.abort();
                        // Pulling results.
                        currentAjaxRequest = $.getJSON(searchURL + '&view=json', function (data) {
                            // Reset results.
                            resultsList.empty();
                            // If we have no results.
                            if (data.results_count == 0) {
                                // resultsList.html('<li><span class="title">No results.</span></li>');
                                // resultsList.fadeIn(100);
                                resultsList.hide();
                            } else {
                                // If we have results.
                                $.each(data.results, function (index, item) {
                                    var link = $('<a></a>').attr('href', item.url);
                                    link.append('<span class="thumbnail"><img src="' + item.thumbnail + '" /></span>');
                                    link.append('<span class="title">' + item.title + '</span>');
                                    link.wrap('<li></li>');
                                    resultsList.append(link.parent());
                                });
                                // The Ajax request will return at the most 10 results.
                                // If there are more than 10, let's link to the search results page.
                                if (data.results_count > 10) {
                                    resultsList.append('<li><span class="title"><a href="' + searchURL + '">See all results (' + data.results_count + ')</a></span></li>');
                                }
                                resultsList.fadeIn(100);
                            }
                        });
                    }
                });
            });
            // Clicking outside makes the results disappear.
            $('body').bind('click', function () {
                $('.search-results').hide();
            });
        });
    </script>
    <!-- Some styles to get you started. -->
    <style>
        .search-results {
            z-index: 8889;
            list-style-type: none;
            width: 190px;
            margin: 0;
            padding: 0;
            background: #ffffff;
            border: 1px solid #cccccc;
            border-radius: 0px;
            -webkit-box-shadow: 0px 4px 7px 0px rgba(0,0,0,0.1);
            box-shadow: 0px 4px 7px 0px rgba(0,0,0,0.1);
            overflow: hidden;
        }

            .search-results li {
                display: block;
                width: 100%;
                height: 38px;
                margin: 0;
                padding: 0;
                border-top: 1px solid #cccccc;
                line-height: 38px;
                overflow: hidden;
            }

                .search-results li:first-child {
                    border-top: none;
                }

            .search-results .title {
                float: left;
                width: 140px;
                padding-left: 8px;
                white-space: nowrap;
                overflow: hidden;
                /* The text-overflow property is supported in all major browsers. */
                text-overflow: ellipsis;
                -o-text-overflow: ellipsis;
                text-align: left;
                font-size: 12px;
                line-height: 38px;
                color: #515151;
            }

                .search-results .title:hover {
                    color: #CE9634;
                }

            .search-results .thumbnail {
                float: left;
                display: block;
                width: 32px;
                height: 32px;
                margin: 3px 0 3px 3px;
                padding: 0;
                text-align: center;
                overflow: hidden;
                border-radius: 0px;
            }
    </style>
    <!-- QUICKVIEW PRODUCT -->
    <div class="quickview-wrapper">
        <!-- Modal -->
        <div class="modal fade product-modal productModal QuickViewDefault" id="quickViewModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal__container" role="document">
                <div class="modal-content modal-lg">
                    <div class="modal-header modal__header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i></button>
                    </div>
                    <div class="modal-body">
                        <div class="modal-product clearfix">
                            <div class="product-images">
                                <div class="main-image images">
                                    <div class="product-main-image__item">
                                        <div class="img_box_1"></div>
                                    </div>
                                </div>
                            </div><!-- .product-images -->
                            <div class="cras product-info">
                                <div class="product-name">
                                    <h1 class="product_title">FROM_JS</h1>
                                </div>
                                <div class="price-box-3">
                                    <div class="s-price-box product-info__price price-part">
                                        <span class="price-box__new amount2 new-price">jsprice</span>
                                        <span class="main new-price">jsprice</span>
                                    </div>
                                </div>
                                <div class="small-product-des quick-desc">
                                    <div class="divider divider--xs product-info__divider"></div>
                                    <div class="product-info__description product-des">FROM_JS</div>
                                </div>
                                <div class="stock2">
                                    <div class="stock3">
                                        <div class="availability in-stock2">Availability: <span class='product-availability'>text</span></div>
                                    </div>
                                </div>
                                <div class="add-to-box1">
                                    <div class="add-to-box add-to-box2">
                                        <div class="add-to-cart">
                                            <form id="add-item-qv" action="https://bigon-5.myshopify.com/cart/add" method="post">
                                                <div class="variants"></div>
                                                <div class="divider divider--sm"></div>
                                                <div class="wrapper input-content  quickview-plus-minus">
                                                    <label><span class="qty-label">Quantity :</span></label>
                                                    <div class="cart-plus-minus f-left">
                                                        <input type="text" value="1" name="quantity" class="cart-plus-minus-box">
                                                    </div>
                                                    <div class="last-cart addtocart-btn">
                                                        <button title="Add to cart" class="add_cart addtocartqv custom-btn custom-btn-hover" type="submit" name="add" value="Add to Cart">Add to Cart</button>
                                                    </div>
                                                </div>
                                                <script>
                                                    jQuery('.addtocartqv').click(function (e) {
                                                        e.preventDefault();
                                                        Shopify.addItemFromFormStart('add-item-qv', jQuery(this).attr('id'));
                                                    });
                                                </script>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- .product-info -->
                        </div><!-- .modal-product -->
                    </div><!-- .modal-body -->
                </div><!-- .modal-content -->
            </div><!-- .modal-dialog -->
        </div>
        <!-- END Modal -->
    </div>
    <div class="quickViewModal_info" style="display: none;">
        <div class="button">Add to Cart</div>
        <div class="button_added"><i class="fa fa-check"></i></div>
        <div class="button_error"><span class="icon icon-shopping_basket"></span> Limit Products</div>
        <div class="button_wait"><i class="fa fa-circle-o-notch fa-spin"></i></div>
    </div>
    <script src="~/libs/toastr.js/toastr.min.js"></script>
    <script src="~/assets/js/toastr.additional.js"></script>
    <script src="~/assets/js/additional.js"></script>

    @RenderSection("addjs",required:false)

    <partial name="_SoftLogin" />

    <div class="dynamic-content"></div>
</body>
</html>
